PORT=8006
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/payment
REDIS_URL=redis://localhost:6379
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
AUTH_SERVICE=http://localhost:3001
