PORT=8004
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ai
REDIS_URL=redis://localhost:6379
FILE_SERVICE_URL=http://localhost:3003
AUTH_SERVICE=http://localhost:3001
AI_MODEL=deepseek/deepseek-chat
OPENROUTER_API_KEY=your_openrouter_api_key_here
